body{
    background-color:lightblue;
}
#inp{
width: 200px;
height: 30px;
border: 2px solid black;
border-radius: 7px;

.center{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#but{
    padding: 5px 19px;
    border-radius: 4px;
background-color:cadetblue;
}
button{
    margin-left: 5px;
    margin-top: 9px;
}
li{
    list-style: none;
}
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:cornflowerblue;
}